/* TODO: Make elements load/show after scrolling down, then hide/fade away as scroll up */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* delete later */
  /* border: 1px solid; */
  font-family: "Inter", sans-serif;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}

#nav-bar {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 7px;
}

#main-title {
  height: 150px;
  font-size: 6vh;
  padding: 5px;
  text-align: center;
}

.green-text {
  color: rgb(1, 131, 1);
}

/* TODO: link animations */
.link {
  /* clamp(min-value, preferred-value, max-value) */
  font-size: clamp(1rem, 1rem + 3vw, 4.5rem);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.link:link {
  color: rgb(38, 36, 36);
}

.link:hover {
  background-color: rgb(101, 185, 124);
  border: solid rgb(101, 185, 124);
  color: rgb(38, 36, 36);
  border-radius: 5px;
}

.link:active {
  background-color: rgb(22, 181, 123);
  border: rgb(22, 181, 123) solid;
}

link:focus {
  background-color: rgb(1, 131, 1);
  border: rgb(1, 131, 1) solid;
}

.rectangle-pic {
  height: 300px;
  width: 100vw;
  object-fit: cover;
  object-position: center;
  padding: 0px;
  margin: -5px 0px;
}

#main-section {
  overflow-x: hidden;
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, 1rem + 2vw, 4rem);
  margin: 20px 40px;
}

.section-text {
  padding: 15px;
  font-size: clamp(1.5rem, 1rem + 2vw, 4rem);
}

.section-text-small {
  padding: 30px;
  font-size: clamp(0.5rem, 1rem + 1vw, 2rem);
  font-style: italic;
}

.card {
  width: 100vw;
  height: 450px;
  display: flex;
  flex-direction: row;
}

.card-title {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image {
  height: 450px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.view-details {
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: rgba(45, 80, 45, 0.7);
  border: none;

  color: aliceblue;
  padding: 10px;
  font-size: 17px;
}

.view-details:hover {
  background-color: rgba(101, 185, 124, 0.7);

  color: rgb(38, 36, 36);
}

.view-details:active {
  background-color: rgb(123, 169, 117);
}

.availability {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  /* TODO: make background-image opacity maybe 40-50% */
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(https://images.unsplash.com/photo-1698061641060-0db814efeae8?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
}

#calendar {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 350px;
  width: 380px;
  border-radius: 25px;
  background-color: rgba(228, 246, 227, 0.7);
  margin: 30px 0;
}

.days {
  display: grid;
  width: 350px;
  grid-template-columns: repeat(7, 1fr);
}

.dates {
  display: grid;
  width: 350px;
  grid-template-columns: repeat(7, 1fr);

  row-gap: 10px;
}

.dates div {
  background-color: rgb(215, 254, 157);
  padding: 5px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dates div:empty {
  background: none;
}
.dates div:hover {
  background-color: rgb(141, 193, 64);
  color: rgb(224, 246, 190);
}

.dates div:empty:hover {
  background: none;
}

.month-title {
  font-size: 25px;
  width: 100%;
  display: flex;
  padding-left: 10px;
}

.availability > h2 {
  margin-top: -0px;
  margin-bottom: 40px;
  width: 100%;
  background-color: rgba(240, 248, 255, 0.5);
  padding: 100px;
}

.book-btn {
  margin-top: 30px;
  height: 50px;
  width: 200px;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: rgba(29, 72, 29, 0.6);
  border: none;
  color: aliceblue;
}

#contacts {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#contacts h2 {
  padding-top: 100px;
  font-size: 30px;
}

.footer-green {
  height: 30%;
  width: 100%;
  background-color: rgba(1, 46, 1, 0.6);
  margin-bottom: -20%;
}

.footer-links {
  font-size: 30px;
}

.footer-links a {
  text-decoration: none;
}
