* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* delete later */
  border: 1px solid;
}

#nav-bar {
  width: 100%;
  height: 100px;
}

#main-title {
  height: 150px;
  font-size: 6vh;
  padding: 5px;
  text-align: center;
}
